{% extends "edudash/base.html" %}
{% load static %}

{% block content %}
{% include "edudash/layouts/breadcrumbs.html" with title="Add New Guardian" parent_text="guardian" parent_link="guardian-list.html" active_page="Add New Guardian" %}

<form action="#" class="mt-24">
    <div class="row gy-3">
        <div class="col-xl-12">
            <div class="shadow-1 radius-12 bg-base h-100 overflow-hidden">
                <div
                    class="card-header border-bottom bg-base py-16 px-24 d-flex align-items-center justify-content-between">
                    <h6 class="text-lg fw-semibold mb-0">Personal Info</h6>
                </div>
                <div class="card-body p-20">
                    <div class="row gy-3">
                        <div class="col-xl-4 col-sm-6">
                            <div class="">
                                <label for="guardianType"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Guardian
                                    Type
                                </label>
                                <select id="guardianType" class="form-control form-select">
                                    <option value="Select Guardian" disabled>Select Guardian</option>
                                    <option value="Father">Father</option>
                                    <option value="Mother">Mother</option>
                                    <option value="Brother">Brother</option>
                                    <option value="Sister">Sister</option>
                                    <option value="Uncle">Uncle</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <div class="">
                                <label for="guardianName"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Guardian
                                    Name
                                </label>
                                <input type="text" id="guardianName" class="form-control"
                                    placeholder="Enter guardian name">
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <div class="">
                                <label for="phoneNumber"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Instagram
                                </label>
                                <input type="tel" id="phoneNumber" class="form-control"
                                    placeholder="Enter phone number">
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <div class="">
                                <label for="occupation"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Occupation
                                </label>
                                <input type="text" id="occupation" class="form-control" placeholder="Enter occupation">
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <div class="">
                                <label for="guardianAddress"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Guardian
                                    Address
                                </label>
                                <input type="text" id="guardianAddress" class="form-control"
                                    placeholder="Enter guardian address">
                            </div>
                        </div>
                        <div class="col-xl-4 col-sm-6">
                            <div class="">
                                <label class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Teacher
                                    Photo <span class="text-danger-600">*</span> </label>
                                <div
                                    class="drop-zone height-44-px p-4 d-flex justify-content-center align-items-center text-center fw-medium text-md cursor-pointer border border-neutral-400 radius-8 border-dashed bg-hover-neutral-200">
                                    <span class="drop-zone__prompt">Darg & drop a file here or click</span>
                                    <input type="file" name="myFile" class="drop-zone__input">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="shadow-1 radius-12 bg-base h-100 overflow-hidden">
                <div
                    class="card-header border-bottom bg-base py-16 px-24 d-flex align-items-center justify-content-between">
                    <h6 class="text-lg fw-semibold mb-0">Login Details</h6>
                </div>
                <div class="card-body p-20">
                    <div class="row gy-3">
                        <div class="col-sm-6">
                            <div class="">
                                <label for="myEmail"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Email
                                    <span class="text-danger-600">*</span>
                                </label>
                                <input type="email" class="form-control" id="myEmail" placeholder="Enter Email">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="">
                                <label for="your-password"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Password
                                    <span class="text-danger-600">*</span>
                                </label>
                                <div class="position-relative">
                                    <input type="password" id="your-password" class="form-control"
                                        placeholder="Enter your password">
                                    <span
                                        class="toggle-password ri-eye-line cursor-pointer position-absolute end-0 top-50 translate-middle-y me-16 text-secondary-light"
                                        data-toggle="#your-password"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="d-flex align-items-center justify-content-center gap-3 mt-8">
                <button type="reset"
                    class="border border-danger-600 bg-hover-danger-200 text-danger-600 text-md px-50 py-11 radius-8">
                    Reset
                </button>
                <button type="submit"
                    class="btn btn-primary-600 border border-primary-600 text-md px-28 py-12 radius-8">
                    Save Changes
                </button>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script>
    // ================== Password Show Hide Js Start ==========
    function initializePasswordToggle(toggleSelector) {
        $(toggleSelector).on('click', function () {
            $(this).toggleClass("ri-eye-off-line");
            var input = $($(this).attr("data-toggle"));
            if (input.attr("type") === "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    }
    // Call the function
    initializePasswordToggle('.toggle-password');
    // ========================= Password Show Hide Js End ===========================

    // ========================== Drag & Drop Upload photo Js start ========================
    document.querySelectorAll(".drop-zone__input").forEach((inputElement) => {
        const dropZoneElement = inputElement.closest(".drop-zone");

        dropZoneElement.addEventListener("click", (e) => {
            inputElement.click();
        });

        inputElement.addEventListener("change", (e) => {
            if (inputElement.files.length) {
                updateThumbnail(dropZoneElement, inputElement.files[0]);
            }
        });

        dropZoneElement.addEventListener("dragover", (e) => {
            e.preventDefault();
            dropZoneElement.classList.add("drop-zone--over");
        });

        ["dragleave", "dragend"].forEach((type) => {
            dropZoneElement.addEventListener(type, (e) => {
                dropZoneElement.classList.remove("drop-zone--over");
            });
        });

        dropZoneElement.addEventListener("drop", (e) => {
            e.preventDefault();

            if (e.dataTransfer.files.length) {
                inputElement.files = e.dataTransfer.files;
                updateThumbnail(dropZoneElement, e.dataTransfer.files[0]);
            }

            dropZoneElement.classList.remove("drop-zone--over");
        });
    });

    /**
     * Updates the thumbnail on a drop zone element.
     *
     * @param {HTMLElement} dropZoneElement
     * @param {File} file
     */
    function updateThumbnail(dropZoneElement, file) {
        let thumbnailElement = dropZoneElement.querySelector(".drop-zone__thumb");

        // First time - remove the prompt
        if (dropZoneElement.querySelector(".drop-zone__prompt")) {
            dropZoneElement.querySelector(".drop-zone__prompt").remove();
        }

        // First time - there is no thumbnail element, so lets create it
        if (!thumbnailElement) {
            thumbnailElement = document.createElement("div");
            thumbnailElement.classList.add("drop-zone__thumb");
            dropZoneElement.appendChild(thumbnailElement);
        }

        thumbnailElement.dataset.label = file.name;

        // Show thumbnail for image files
        if (file.type.startsWith("image/")) {
            const reader = new FileReader();

            reader.readAsDataURL(file);
            reader.onload = () => {
                thumbnailElement.style.backgroundImage = `url('${reader.result}')`;
            };
        } else {
            thumbnailElement.style.backgroundImage = null;
        }
    }
    // ========================== Drag & Drop Upload photo Js end ========================

</script>
{% endblock %}