{% extends "edudash/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="breadcrumb d-flex flex-wrap align-items-center justify-content-between gap-3 mb-24">
    <div class="">

        <h1 class="fw-semibold mb-4 h6 text-primary-light">{{ title }}</h1>
        <div class="">
            <a href="{% url 'dashboard' %}" class="text-secondary-light hover-text-primary hover-underline">Dashboard</a>
            <a href="{% url 'programs' %}"
                class="text-secondary-light hover-text-primary hover-underline"> / Programs List</a>
            <span class="text-secondary-light">/ {{ program.title }}</span>
        </div>
    </div>
    <div class="d-flex gap-3">
        <a href="#" class="btn btn-primary-600 d-flex align-items-center gap-6">
            <span class="d-flex text-md"><i class="ri-add-large-line"></i></span>
            Add Course
        </a>
        <a href="#" class="btn btn-primary-600 d-flex align-items-center gap-6">
            <span class="d-flex text-md"><i class="ri-add-large-line"></i></span>
            Add Course
        </a>
        <a href="#" class="btn btn-primary-600 d-flex align-items-center gap-6">
            <span class="d-flex text-md"><i class="ri-add-large-line"></i></span>
            Add Course
        </a>
    </div>
</div>


<div class="card h-100 p-0 radius-12">
    <div class="mt-16">
        <div class="row gy-4">
             <div class="col-xxl-4">
                <div class="d-flex flex-column gap-24">
                    <!-- Upcoming Events start -->
                    <div class="card h-100">
                        <div class="card-body p-0">
                            <div class="d-flex flex-wrap align-items-center justify-content-between px-20 py-16 border-bottom border-neutral-200">
                                <h6 class="text-lg mb-0">Lecturer(s)</h6>
                            </div>
                            <div class="ps-20 pt-20 pb-20">
                                <div class="pe-20 d-flex flex-column gap-16">
                                {% for lecturer in lecturers %}
                                    <div class="p-20 bg-neutral-40 rounded">
                                        <div class="d-flex align-items-center gap-16">
                                            <figure class="w-120-px h-120-px rounded-circle overflow-hidden mb-0 border border-width-4-px border-white">
                                                <img src="{{ lecturer.lecturer.picture.url }}" alt="Student Image" class="w-100 h-100 object-fit-cover">
                                            </figure>
                                            <div>
                                                <h2 class="h6 text-primary-light mb-16 fw-semibold">{{ lecturer|title }}
                                                </h2>
                                                <p class="mb-0">User Id: <span class="text-primary-600 fw-semibold">{{ lecturer.lecturer.username }}</span>
                                                </p>
                                                <p class="mb-0">Email Address: <span class="text-primary-light fw-semibold">{{ lecturer.lecturer.email }}</span> </p>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column gap-8 border-top border-neutral-300 mt-16 pt-16">
                                            <div class="d-flex gap-4">
                                                <span class="fw-semibold text-sm text-primary-light w-110-px">Phone Number</span>
                                                <span class="fw-normal text-sm text-secondary-light">: {{ lecturer.lecturer.phone }}</span>
                                            </div>
                                            <div class="d-flex gap-4">
                                                <span class="fw-semibold text-sm text-primary-light w-110-px">Gender</span>
                                                <span class="fw-normal text-sm text-secondary-light">:
                                                    {{ lecturer.lecturer.gender }}</span>
                                            </div>
                                            <div class="d-flex gap-4">
                                                <span class="fw-semibold text-sm text-primary-light w-110-px">Date Joined</span>
                                                <span class="fw-normal text-sm text-secondary-light">: {{ lecturer.lecturer.date_joined }}</span>
                                            </div>
                                            <div class="d-flex gap-4">
                                                <span class="fw-semibold text-sm text-primary-light w-110-px">Last Login</span>
                                                <span class="fw-normal text-sm text-secondary-light">: {{ lecturer.lecturer.last_login }}</span>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Upcoming Events End -->
                </div>
            </div>
            <div class="col-xxl-8">
                <div class="row gy-4 gap-2">
                    <!-- Static Card Start -->
                    <div class="col-12">
                        <div class="card h-100">
                            <div class="card-body p-0 dataTable-wrapper">
                                <div class="p-0">
                                    <table class="table bordered-table mb-0 data-table" id="dataTable" data-page-length='10'>
                                        <thead>
                                            <tr>
                                                <th scope="col">
                                                    <div class="form-check style-check d-flex align-items-center">
                                                        <input class="form-check-input" type="checkbox">
                                                        <label class="form-check-label">
                                                            S.L
                                                        </label>
                                                    </div>
                                                </th>
                                                <th scope="col">Video Title</th>
                                                <th scope="col">Uploaded Date</th>
                                                <th scope="col">Get Started</th>
                                                {% if request.user.is_superuser %}
                                                <th scope="col">Action</th>
                                                {% endif %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for video in videos %}
                                            <tr>
                                                <td>
                                                    <div class="form-check style-check d-flex align-items-center">
                                                        <input class="form-check-input" type="checkbox">
                                                        <label class="form-check-label">
                                                            {{ forloop.counter }}.
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a href="{{ video.get_absolute_url }}" title="{{ video }}" class="d-flex align-items-center">
                                                        <i class="fas fa-video me-1"></i> {{ video.title|title }}
                                                    </a>
                                                </td>
                                                <td>                              
                                                    {{ video.timestamp|date }}
                                                </td>
                                                <td> <div>
                                                        <a class="download-btn" href="{{ video.get_absolute_url }}"
                                                            title="Download to your device"><i class="ri-play-large-fill"></i>Play now </a>
                                                    </div>
                                                </td>
                                                {% if request.user.is_superuser %}
                                                <td> 
                                                    <div class="flex-align gap-12">
                                                        <span class="bg-info-focus text-info-main px-20 py-4 rounded fw-medium text-sm">
                                                            <a href="{% url 'upload_video_edit' slug=course.slug video_slug=video.slug %}" class="update" title="Edit">
                                                                <i class="ri-edit-2-fill"></i>
                                                            </a>
                                                        </span>
                                                        <span class="bg-danger-focus text-danger-main px-20 py-4 rounded fw-medium text-sm">
                                                            <a href="{% url 'upload_video_delete' slug=course.slug video_slug=video.slug %}" class="update" title="Delete">
                                                                <i class="ri-delete-bin-5-line"></i>
                                                            </a>
                                                        </span>
                                                    </div>
                                                </td>
                                                {% endif %}
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Static Card End -->
                </div>

                <div class="row gy-4 mt-20">
                    <!-- Static Card Start -->
                    <div class="col-12">
                        <div class="card h-100">
                            <div class="card-body p-0 dataTable-wrapper">
                                <div class="p-0">
                                    <table class="table bordered-table mb-0 data-table" id="dataTable" data-page-length='10'>
                                        <thead>
                                            <tr>
                                                <th scope="col">
                                                    <div class="form-check style-check d-flex align-items-center">
                                                        <input class="form-check-input" type="checkbox">
                                                        <label class="form-check-label">
                                                            S.L
                                                        </label>
                                                    </div>
                                                </th>
                                                <th scope="col">File name</th>
                                                <th scope="col">Uploaded Date</th>
                                                <th scope="col">Updated Date</th>
                                                <th scope="col">Downloads</th>
                                                {% if request.user.is_superuser or request.user.is_lecturer %}
                                                <th>Actions</th>
                                                {% endif %}
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for file in files %}
                                            <tr>
                                                <td>
                                                    <div class="form-check style-check d-flex align-items-center">
                                                        <input class="form-check-input" type="checkbox">
                                                        <label class="form-check-label">
                                                            {{ forloop.counter }}.
                                                        </label>
                                                    </div>
                                                </td>
                                                <td>
                                                   <a href="{{ file.file.url }}" title="{{ file }}" class="d-flex align-items-center">
                                                        <i class="fas fa-file-{{ file.get_extension_short }} me-1"></i>
                                                        {{ file.title|title }}
                                                    </a>
                                                </td>
                                                <td>{{ file.upload_time|date }}</td>
                                                <td>{{ file.updated_date|date }}</td>
                                                <th>
                                                    <div>
                                                        <a class="download-btn" href="{{ file.file.url }}" title="Download to your device">
                                                            <i class="ri-download-2-line"></i>Download</a>
                                                    </div>
                                                </th>
                                                
                                                {% if request.user.is_superuser %}
                                                <td> 
                                                    <div class="flex-align gap-12">
                                                        <span class="bg-info-focus text-info-main px-20 py-4 rounded fw-medium text-sm">
                                                            <a href="{% url 'upload_file_edit' slug=course.slug file_id=file.pk %}" class="update" title="Edit">
                                                                <i class="ri-edit-2-fill"></i>
                                                            </a>
                                                        </span>
                                                        <span class="bg-danger-focus text-danger-main px-20 py-4 rounded fw-medium text-sm">
                                                            <a href="{% url 'upload_file_delete' slug=course.slug file_id=file.pk %}" class="update" title="Delete">
                                                                <i class="ri-delete-bin-5-line"></i>
                                                            </a>
                                                        </span>
                                                    </div>
                                                </td>
                                                {% endif %}
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Static Card End -->
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
