{% extends "edudash/base.html" %}
{% load static %}

{% block content %}
{% include "edudash/layouts/breadcrumbs.html" with title="Edit Student" parent_text="Student" parent_link="student-list.html" active_page="Edit Student" %}

<form action="#" class="mt-24">
    <div class="row gy-3">
        <div class="col-lg-12">
            <div class="shadow-1 radius-12 bg-base h-100 overflow-hidden">
                <div
                    class="card-header border-bottom bg-base py-16 px-24 d-flex align-items-center justify-content-between">
                    <h6 class="text-lg fw-semibold mb-0">Personal Info</h6>
                </div>
                <div class="card-body p-20">
                    <div class="row gy-3">
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="academicYear"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Academic
                                    Year <span class="text-danger-600">* </span> </label>
                                <select id="academicYear" class="form-control form-select">
                                    <option value="Jun 2025/2026">Jun 2025/2026</option>
                                    <option value="Jun 2026/2027">Jun 2026/2027</option>
                                    <option value="Jun 2027/2028">Jun 2027/2028</option>
                                    <option value="Jun 2028/2029">Jun 2028/2029</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="classSelection"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Class
                                    <span class="text-danger-600">* </span> </label>
                                <select id="classSelection" class="form-control form-select">
                                    <option value="Select a class" disabled>Select a class</option>
                                    <option value="Primary">Primary</option>
                                    <option value="High school">High school</option>
                                    <option value="College">College</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="section"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Section
                                    <span class="text-danger-600">* </span> </label>
                                <select id="section" class="form-control form-select">
                                    <option value="Select section" disabled>Select section</option>
                                    <option value="Science">Science</option>
                                    <option value="Art">Art</option>
                                    <option value="Commerce">Commerce</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="rollNumber"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Roll
                                    Number </label>
                                <input type="text" class="form-control" id="rollNumber"
                                    placeholder="Enter your rollNumber">
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="admissionNo"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Admission
                                    No <span class="text-danger-600">*</span> </label>
                                <input type="text" class="form-control" id="admissionNo"
                                    placeholder="Enter admission number">
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="fullName"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Full Name
                                    <span class="text-danger-600">*</span> </label>
                                <input type="text" class="form-control" id="fullName"
                                    placeholder="Enter your Full Name">
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="category"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Category
                                    <span class="text-danger-600">*</span> </label>
                                <input type="text" class="form-control" id="category" placeholder="Select a Category">
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="gender"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Gender</label>
                                <select id="gender" class="form-control form-select">
                                    <option value="Select section" disabled>Select Gender</option>
                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="dateOfBirth"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Date Of
                                    Birth <span class="text-danger-600">*</span> </label>
                                <input type="date" class="form-control" id="dateOfBirth">
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="phoneNumber"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Phone
                                    Number <span class="text-danger-600">*</span> </label>
                                <input type="text" class="form-control" id="phoneNumber"
                                    placeholder="Enter your Phone Number">
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="studentEmail"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Email
                                    <span class="text-danger-600">*</span> </label>
                                <input type="text" class="form-control" id="studentEmail"
                                    placeholder="Enter your Email">
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Student
                                    Photo <span class="text-danger-600">*</span> </label>
                                <div
                                    class="drop-zone height-44-px p-4 d-flex justify-content-center align-items-center text-center fw-medium text-md cursor-pointer border border-neutral-400 radius-8 border-dashed bg-hover-neutral-200">
                                    <span class="drop-zone__prompt">Darg & drop a file here or click</span>
                                    <input type="file" name="myFile" class="drop-zone__input">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="shadow-1 radius-12 bg-base h-100 overflow-hidden">
                <div
                    class="card-header border-bottom bg-base py-16 px-24 d-flex align-items-center justify-content-between">
                    <h6 class="text-lg fw-semibold mb-0">Parent & Guardian Info </h6>
                </div>
                <div class="card-body p-20">
                    <div class="row gy-3">
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="fathersName"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Fathers
                                    Name </label>
                                <input type="text" class="form-control" id="fathersName"
                                    placeholder="Enter Fathers Name">
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="fathersPhoneNumber"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Phone
                                    Number </label>
                                <input type="tel" class="form-control" id="fathersPhoneNumber"
                                    placeholder="Enter Fathers Number">
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="fathersFatherOccupation"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Father
                                    Occupation </label>
                                <input type="text" class="form-control" id="fathersFatherOccupation"
                                    placeholder="Enter Father Occupation">
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Fathers
                                    Photo <span class="text-danger-600">*</span> </label>
                                <div
                                    class="drop-zone height-44-px p-4 d-flex justify-content-center align-items-center text-center fw-medium text-md cursor-pointer border border-neutral-400 radius-8 border-dashed bg-hover-neutral-200">
                                    <span class="drop-zone__prompt">Darg & drop a file here or click</span>
                                    <input type="file" name="myFile" class="drop-zone__input">
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="mothersName"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Mothers
                                    Name </label>
                                <input type="text" class="form-control" id="mothersName"
                                    placeholder="Enter mothers Name">
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="mothersPhoneNumber"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Phone
                                    Number </label>
                                <input type="tel" class="form-control" id="mothersPhoneNumber"
                                    placeholder="Enter mothers Number">
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="mothersFatherOccupation"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Father
                                    Occupation </label>
                                <input type="text" class="form-control" id="mothersFatherOccupation"
                                    placeholder="Enter Father Occupation">
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Mothers
                                    Photo <span class="text-danger-600">*</span> </label>
                                <div
                                    class="drop-zone height-44-px p-4 d-flex justify-content-center align-items-center text-center fw-medium text-md cursor-pointer border border-neutral-400 radius-8 border-dashed bg-hover-neutral-200">
                                    <span class="drop-zone__prompt">Darg & drop a file here or click</span>
                                    <input type="file" name="myFile" class="drop-zone__input">
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mt-24">
                                <span class="text-lg fw-bold text-primary-light d-inline-block mb-8">Select a
                                    Guardian </span>
                                <div class="d-flex align-items-center flex-wrap gap-28">
                                    <div class="form-check checked-primary d-flex align-items-center gap-2">
                                        <input class="form-check-input" type="radio" name="radio" id="selectFather">
                                        <label class="form-check-label line-height-1 fw-medium text-secondary-light"
                                            for="selectFather"> Father </label>
                                    </div>
                                    <div class="form-check checked-secondary d-flex align-items-center gap-2">
                                        <input class="form-check-input" type="radio" name="radio" id="selectMother">
                                        <label class="form-check-label line-height-1 fw-medium text-secondary-light"
                                            for="selectMother"> Mother </label>
                                    </div>
                                    <div class="form-check checked-success d-flex align-items-center gap-2">
                                        <input class="form-check-input" type="radio" name="radio" id="selectOthers">
                                        <label class="form-check-label line-height-1 fw-medium text-secondary-light"
                                            for="selectOthers"> Others </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="guardianName"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Guardian
                                    Name </label>
                                <input type="text" class="form-control" id="guardianName"
                                    placeholder="Enter Guardian Name">
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="guardianEmail"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Guardian
                                    Email </label>
                                <input type="email" class="form-control" id="guardianEmail"
                                    placeholder="Enter Guardian Email">
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="guardianPhoneNumber"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Phone
                                    Number </label>
                                <input type="tel" class="form-control" id="guardianPhoneNumber"
                                    placeholder="Enter Guardian Number">
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="guardianFatherOccupation"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Father
                                    Occupation </label>
                                <input type="text" class="form-control" id="guardianFatherOccupation"
                                    placeholder="Enter Father Occupation">
                            </div>
                        </div>
                        <div class="col-xl-9 col-sm-6">
                            <div class="">
                                <label for="guardianGuardianAddress"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Guardian
                                    Address </label>
                                <input type="text" class="form-control" id="guardianGuardianAddress"
                                    placeholder="Enter Guardian Address">
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6">
                            <div class="">
                                <label class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Guardian
                                    Photo <span class="text-danger-600">*</span> </label>
                                <div
                                    class="drop-zone height-44-px p-4 d-flex justify-content-center align-items-center text-center fw-medium text-md cursor-pointer border border-neutral-400 radius-8 border-dashed bg-hover-neutral-200">
                                    <span class="drop-zone__prompt">Darg & drop a file here or click</span>
                                    <input type="file" name="myFile" class="drop-zone__input">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="shadow-1 radius-12 bg-base h-100 overflow-hidden">
                <div
                    class="card-header border-bottom bg-base py-16 px-24 d-flex align-items-center justify-content-between">
                    <h6 class="text-lg fw-semibold mb-0">Medical Details</h6>
                </div>
                <div class="card-body p-20">
                    <div class="row gy-3">
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="bloodGroup"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Blood
                                    Group</label>
                                <select id="bloodGroup" class="form-control form-select">
                                    <option value="Select blood group" disabled>Select blood group</option>
                                    <option value="A+">A+</option>
                                    <option value="AB+">AB+</option>
                                    <option value="A-">A-</option>
                                    <option value="AB-">AB-</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="medicalHeight"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Height
                                </label>
                                <input type="text" class="form-control" id="medicalHeight" placeholder="Enter height">
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="medicalWeight"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Weight
                                </label>
                                <input type="text" class="form-control" id="medicalWeight" placeholder="Enter Weight">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="shadow-1 radius-12 bg-base h-100 overflow-hidden">
                <div
                    class="card-header border-bottom bg-base py-16 px-24 d-flex align-items-center justify-content-between">
                    <h6 class="text-lg fw-semibold mb-0">Bank Details </h6>
                </div>
                <div class="card-body p-20">
                    <div class="row gy-3">
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="bankAccountNumber"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Bank
                                    Account Number </label>
                                <input type="text" class="form-control" id="bankAccountNumber"
                                    placeholder="Enter bank account number">
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="bankName"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Bank Name
                                </label>
                                <input type="text" class="form-control" id="bankName" placeholder="Enter bank name">
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="iFSCCode"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">IFSC Code
                                </label>
                                <input type="text" class="form-control" id="iFSCCode" placeholder="Enter IFSC Code">
                            </div>
                        </div>
                        <div class="col-xxl-3 col-xl-4 col-sm-6">
                            <div class="">
                                <label for="nationalIdentificationNumber"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">National
                                    Identification Number</label>
                                <input type="text" class="form-control" id="nationalIdentificationNumber"
                                    placeholder="Enter national identification number">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-6">
            <div class="shadow-1 radius-12 bg-base h-100 overflow-hidden">
                <div
                    class="card-header border-bottom bg-base py-16 px-24 d-flex align-items-center justify-content-between">
                    <h6 class="text-lg fw-semibold mb-0">Previous School Details</h6>
                </div>
                <div class="card-body p-20">
                    <div class="row gy-3">
                        <div class="col-sm-6">
                            <div class="">
                                <label for="schoolNamee"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">School
                                    Name </label>
                                <input type="text" class="form-control" id="schoolNamee"
                                    placeholder="Enter School Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="">
                                <label for="Address"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Address
                                </label>
                                <input type="text" class="form-control" id="Address" placeholder="Enter Address">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-6">
            <div class="shadow-1 radius-12 bg-base h-100 overflow-hidden">
                <div
                    class="card-header border-bottom bg-base py-16 px-24 d-flex align-items-center justify-content-between">
                    <h6 class="text-lg fw-semibold mb-0">Address</h6>
                </div>
                <div class="card-body p-20">
                    <div class="row gy-3">
                        <div class="col-sm-6">
                            <div class="">
                                <label for="currentAddress"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Current
                                    Address </label>
                                <input type="text" class="form-control" id="currentAddress"
                                    placeholder="Enter Current Address">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="">
                                <label for="permanentAddress"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Permanent
                                    Address </label>
                                <input type="text" class="form-control" id="permanentAddress"
                                    placeholder="Enter Permanent Address">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-6">
            <div class="shadow-1 radius-12 bg-base h-100 overflow-hidden">
                <div
                    class="card-header border-bottom bg-base py-16 px-24 d-flex align-items-center justify-content-between">
                    <h6 class="text-lg fw-semibold mb-0">Hostel Details</h6>
                </div>
                <div class="card-body p-20">
                    <div class="row gy-3">
                        <div class="col-sm-6">
                            <div class="">
                                <label for="hostel"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Hostel
                                </label>
                                <input type="text" class="form-control" id="hostel" placeholder="Enter Hostel">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="">
                                <label for="roomNo"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Room No
                                </label>
                                <input type="text" class="form-control" id="roomNo" placeholder="Enter Room No">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xxl-6">
            <div class="shadow-1 radius-12 bg-base h-100 overflow-hidden">
                <div
                    class="card-header border-bottom bg-base py-16 px-24 d-flex align-items-center justify-content-between">
                    <h6 class="text-lg fw-semibold mb-0">Upload Documents</h6>
                </div>
                <div class="card-body p-20">
                    <div class="row gy-3">
                        <div class="col-sm-6">
                            <div class="">
                                <label for="docName"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Doc Name
                                </label>
                                <input type="text" class="form-control" id="docName" placeholder="Enter Doc Name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="">
                                <label class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Guardian
                                    Photo <span class="text-danger-600">*</span> </label>
                                <div
                                    class="drop-zone height-44-px p-4 d-flex justify-content-center align-items-center text-center fw-medium text-md cursor-pointer border border-neutral-400 radius-8 border-dashed bg-hover-neutral-200">
                                    <span class="drop-zone__prompt">Darg & drop a file here or click</span>
                                    <input type="file" name="myFile" class="drop-zone__input">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="shadow-1 radius-12 bg-base h-100 overflow-hidden">
                <div
                    class="card-header border-bottom bg-base py-16 px-24 d-flex align-items-center justify-content-between">
                    <h6 class="text-lg fw-semibold mb-0">Student Details</h6>
                </div>
                <div class="card-body p-20">
                    <div class="row gy-3">
                        <div class="col-sm-12">
                            <div class="">
                                <label for="moreDetails"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Details
                                </label>
                                <textarea id="moreDetails" class="form-control" placeholder="Enter details"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-12">
            <div class="shadow-1 radius-12 bg-base h-100 overflow-hidden">
                <div
                    class="card-header border-bottom bg-base py-16 px-24 d-flex align-items-center justify-content-between">
                    <h6 class="text-lg fw-semibold mb-0">Login Details</h6>
                </div>
                <div class="card-body p-20">
                    <div class="row gy-3">
                        <div class="col-sm-6">
                            <div class="">
                                <label for="myEmail"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Email
                                    <span class="text-danger-600">*</span>
                                </label>
                                <input type="email" class="form-control" id="myEmail" placeholder="Enter Email">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="">
                                <label for="your-password"
                                    class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Password
                                    <span class="text-danger-600">*</span>
                                </label>
                                <div class="position-relative">
                                    <input type="password" id="your-password" class="form-control"
                                        placeholder="Enter your password">
                                    <span
                                        class="toggle-password ri-eye-line cursor-pointer position-absolute end-0 top-50 translate-middle-y me-16 text-secondary-light"
                                        data-toggle="#your-password"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="d-flex align-items-center justify-content-center gap-3 mt-8">
                <button type="reset"
                    class="border border-danger-600 bg-hover-danger-200 text-danger-600 text-md px-50 py-11 radius-8">
                    Cancel
                </button>
                <button type="submit"
                    class="btn btn-primary-600 border border-primary-600 text-md px-28 py-12 radius-8">
                    Save Changes
                </button>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block scripts %}
<script>
    // ================== Password Show Hide Js Start ==========
    function initializePasswordToggle(toggleSelector) {
        $(toggleSelector).on('click', function () {
            $(this).toggleClass("ri-eye-off-line");
            var input = $($(this).attr("data-toggle"));
            if (input.attr("type") === "password") {
                input.attr("type", "text");
            } else {
                input.attr("type", "password");
            }
        });
    }
    // Call the function
    initializePasswordToggle('.toggle-password');
    // ========================= Password Show Hide Js End ===========================

    // ========================== Drag & Drop Upload photo Js start ========================
    document.querySelectorAll(".drop-zone__input").forEach((inputElement) => {
        const dropZoneElement = inputElement.closest(".drop-zone");

        dropZoneElement.addEventListener("click", (e) => {
            inputElement.click();
        });

        inputElement.addEventListener("change", (e) => {
            if (inputElement.files.length) {
                updateThumbnail(dropZoneElement, inputElement.files[0]);
            }
        });

        dropZoneElement.addEventListener("dragover", (e) => {
            e.preventDefault();
            dropZoneElement.classList.add("drop-zone--over");
        });

        ["dragleave", "dragend"].forEach((type) => {
            dropZoneElement.addEventListener(type, (e) => {
                dropZoneElement.classList.remove("drop-zone--over");
            });
        });

        dropZoneElement.addEventListener("drop", (e) => {
            e.preventDefault();

            if (e.dataTransfer.files.length) {
                inputElement.files = e.dataTransfer.files;
                updateThumbnail(dropZoneElement, e.dataTransfer.files[0]);
            }

            dropZoneElement.classList.remove("drop-zone--over");
        });
    });

    /**
     * Updates the thumbnail on a drop zone element.
     *
     * @param {HTMLElement} dropZoneElement
     * @param {File} file
     */
    function updateThumbnail(dropZoneElement, file) {
        let thumbnailElement = dropZoneElement.querySelector(".drop-zone__thumb");

        // First time - remove the prompt
        if (dropZoneElement.querySelector(".drop-zone__prompt")) {
            dropZoneElement.querySelector(".drop-zone__prompt").remove();
        }

        // First time - there is no thumbnail element, so lets create it
        if (!thumbnailElement) {
            thumbnailElement = document.createElement("div");
            thumbnailElement.classList.add("drop-zone__thumb");
            dropZoneElement.appendChild(thumbnailElement);
        }

        thumbnailElement.dataset.label = file.name;

        // Show thumbnail for image files
        if (file.type.startsWith("image/")) {
            const reader = new FileReader();

            reader.readAsDataURL(file);
            reader.onload = () => {
                thumbnailElement.style.backgroundImage = `url('${reader.result}')`;
            };
        } else {
            thumbnailElement.style.backgroundImage = null;
        }
    }
    // ========================== Drag & Drop Upload photo Js end ========================

</script>
{% endblock %}