{% extends "edudash/base.html" %}
{% load static %}

{% block content %}
{% include "edudash/layouts/breadcrumbs.html" with title="Guardian List" parent_text="guardian" parent_link="javascript:void(0)" active_page="Guardian List" button_text="Add Guardian" button_link="add-new-guardian.html" %}

<div class="mt-24">
    <div class="card h-100">
        <div class="card-body p-0 dataTable-wrapper">

            <div
                class="d-flex align-items-center justify-content-between flex-wrap gap-16 px-20 py-12 border-bottom border-neutral-200">
                <div class="d-flex flex-wrap align-items-center gap-16">
                    <div class="dropdown">
                        <button type="button"
                            class="px-12 py-5-px border border-neutral-300 radius-8 d-flex align-items-center gap-20 "
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="d-flex align-items-center gap-1 text-secondary-light text-sm">
                                <i class="ri-file-upload-line text-md line-height-1"></i>
                                Export
                            </span>
                            <span class="">
                                <i class="ri-arrow-down-s-line"></i>
                            </span>
                        </button>
                        <ul class="dropdown-menu p-12 border bg-base shadow">
                            <li>
                                <button type="button"
                                    class="dropdown-item px-16 py-8 rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-10"
                                    data-bs-toggle="modal" data-bs-target="#exampleModalView">
                                    <i class="ri-file-3-line"></i>
                                    PDF
                                </button>
                            </li>
                            <li>
                                <button type="button"
                                    class="dropdown-item px-16 py-8 rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-10"
                                    data-bs-toggle="modal" data-bs-target="#exampleModalEdit">
                                    <i class="ri-file-excel-line"></i>
                                    Excel
                                </button>
                            </li>
                        </ul>
                    </div>
                    <form class="navbar-search dt-search m-0">
                        <input type="text" class="dt-input bg-transparent radius-4" aria-controls="dataTable"
                            name="search" placeholder="Search...">
                        <iconify-icon icon="ion:search-outline" class="icon"></iconify-icon>
                    </form>
                    <div class="dropdown">
                        <button type="button"
                            class="px-12 py-5-px border border-neutral-300 radius-8 d-flex align-items-center gap-20"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="d-flex align-items-center gap-1 text-secondary-light text-sm">
                                Filter
                            </span>
                            <span class="">
                                <i class="ri-arrow-down-s-line"></i>
                            </span>
                        </button>
                        <div class="dropdown-menu border bg-base shadow dropdown-menu-lg p-0">
                            <div class="d-flex align-items-center justify-content-between border-bottom py-8 px-16">
                                <span class="fw-semibold text-lg text-primary-light">Filter</span>
                                <button type="button">
                                    <i class="ri-close-large-line"></i>
                                </button>
                            </div>

                            <form action="#" class="p-16">
                                <div class="row g-3">
                                    <div class="col-12">
                                        <label for="subject"
                                            class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Gender</label>
                                        <select id="subject" class="form-control form-select">
                                            <option value="Select">Select Subject</option>
                                            <option value="Match">Match</option>
                                            <option value="English">English</option>
                                            <option value="Bangla">Bangla</option>
                                            <option value="Economics">Economics</option>
                                            <option value="Physics">Physics</option>
                                        </select>
                                    </div>
                                    <div class="col-12">
                                        <label for="status"
                                            class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Status</label>
                                        <select id="status" class="form-control form-select">
                                            <option value="Select">Select Status</option>
                                            <option value="Active">Active</option>
                                            <option value="Inactive">Inactive</option>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <button type="reset"
                                            class="btn btn-danger-200 text-danger-600 w-100">Reset</button>
                                    </div>
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-primary-600 w-100">Apply</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-8 text-secondary-light">
                    <span class="">
                        Rows per page:
                    </span>
                    <div class="dt-length">
                        <select name="dataTable_length" aria-controls="dataTable"
                            class="dt-input form-control form-select">
                            <option value="5">5</option>
                            <option value="10" selected>10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="p-0">
                <table class="table bordered-table mb-0 data-table" id="dataTable" data-page-length='10'>
                    <thead>
                        <tr>
                            <th scope="col">
                                <div class="form-check style-check d-flex align-items-center">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label">
                                        S.L
                                    </label>
                                </div>
                            </th>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Child</th>
                            <th scope="col">Email</th>
                            <th scope="col">Phone Number</th>
                            <th scope="col">Join Date</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="form-check style-check d-flex align-items-center">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label">01</label>
                                </div>
                            </td>
                            <td><span class="text-primary-600">AD52365</span></td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'assets/images/thumbs/teacher-avatar-img1.png' %}"
                                        alt="Marvin McKinney Image" class="flex-shrink-0 me-12 radius-8">
                                    <div>
                                        <h6 class="text-md mb-0 fw-medium flex-grow-1 text-secondary-light">
                                            Marvin McKinney</h6>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'assets/images/thumbs/avatar-img1.png' %}"
                                        alt="Darlene Robertson Image" class="flex-shrink-0 me-12 radius-8">
                                    <div>
                                        <h6 class="text-md mb-0 fw-medium flex-grow-1 text-secondary-light">
                                            Darlene Robertson</h6>
                                        <span class="text-secondary-light text-sm">Class: 1 (A)</span>
                                    </div>
                                </div>
                            </td>
                            <td>chinthaka@hotmail.com</td>
                            <td>209.555.0104</td>
                            <td>05 May 2012</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="text-primary-light text-xl" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <iconify-icon icon="tabler:dots-vertical"></iconify-icon>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-lg-end border p-12">
                                        <li><a href="guardian-list.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-user-3-line"></i>View Guardian</a></li>
                                        <li><a href="edit-guardian.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-edit-2-line"></i>Edit</a></li>
                                        <li><a href="login.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-login-box-line"></i>Login</a></li>
                                        <li><button
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"
                                                data-bs-toggle="modal" data-bs-target="#exampleModalDelete"><i
                                                    class="ri-delete-bin-6-line"></i>Delete</button></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check style-check d-flex align-items-center">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label">02</label>
                                </div>
                            </td>
                            <td><span class="text-primary-600">AD65412</span></td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'assets/images/thumbs/teacher-avatar-img2.png' %}"
                                        alt="Esther Howard Image" class="flex-shrink-0 me-12 radius-8">
                                    <div>
                                        <h6 class="text-md mb-0 fw-medium text-secondary-light">Esther Howard
                                        </h6>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'assets/images/thumbs/avatar-img2.png' %}"
                                        alt="Jane Cooper Image" class="flex-shrink-0 me-12 radius-8">
                                    <div>
                                        <h6 class="text-md mb-0 fw-medium text-secondary-light">Jane Cooper</h6>
                                        <span class="text-secondary-light text-sm">Class: 2 (B)</span>
                                    </div>
                                </div>
                            </td>
                            <td>esther@example.com</td>
                            <td>305.442.0899</td>
                            <td>10 Feb 2014</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="text-primary-light text-xl" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <iconify-icon icon="tabler:dots-vertical"></iconify-icon>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-lg-end border p-12">
                                        <li><a href="guardian-list.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-user-3-line"></i>View Guardian</a></li>
                                        <li><a href="edit-guardian.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-edit-2-line"></i>Edit</a></li>
                                        <li><a href="login.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-login-box-line"></i>Login</a></li>
                                        <li><button
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"
                                                data-bs-toggle="modal" data-bs-target="#exampleModalDelete"><i
                                                    class="ri-delete-bin-6-line"></i>Delete</button></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check style-check d-flex align-items-center"><input
                                        class="form-check-input" type="checkbox"><label
                                        class="form-check-label">03</label></div>
                            </td>
                            <td><span class="text-primary-600">AD76548</span></td>
                            <td>
                                <div class="d-flex align-items-center"><img
                                        src="{% static 'assets/images/thumbs/teacher-avatar-img3.png' %}"
                                        alt="Cody Fisher" class="flex-shrink-0 me-12 radius-8">
                                    <div>
                                        <h6 class="text-md mb-0 fw-medium text-secondary-light">Cody Fisher</h6>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center"><img
                                        src="{% static 'assets/images/thumbs/avatar-img3.png' %}" alt="Robert Fox"
                                        class="flex-shrink-0 me-12 radius-8">
                                    <div>
                                        <h6 class="text-md mb-0 fw-medium text-secondary-light">Robert Fox</h6>
                                        <span class="text-secondary-light text-sm">Class: 3 (A)</span>
                                    </div>
                                </div>
                            </td>
                            <td>codyf@example.com</td>
                            <td>312.900.0981</td>
                            <td>08 Mar 2016</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="text-primary-light text-xl" data-bs-toggle="dropdown"
                                        aria-expanded="false"><iconify-icon
                                            icon="tabler:dots-vertical"></iconify-icon></button>
                                    <ul class="dropdown-menu dropdown-menu-lg-end border p-12">
                                        <li><a href="guardian-list.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-user-3-line"></i>View Guardian</a></li>
                                        <li><a href="edit-guardian.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-edit-2-line"></i>Edit</a></li>
                                        <li><a href="login.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-login-box-line"></i>Login</a></li>
                                        <li><button
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"
                                                data-bs-toggle="modal" data-bs-target="#exampleModalDelete"><i
                                                    class="ri-delete-bin-6-line"></i>Delete</button></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check style-check d-flex align-items-center"><input
                                        class="form-check-input" type="checkbox"><label
                                        class="form-check-label">04</label></div>
                            </td>
                            <td><span class="text-primary-600">AD33221</span></td>
                            <td>
                                <div class="d-flex align-items-center"><img
                                        src="{% static 'assets/images/thumbs/teacher-avatar-img4.png' %}"
                                        alt="Jenny Wilson" class="flex-shrink-0 me-12 radius-8">
                                    <div>
                                        <h6 class="text-md mb-0 fw-medium text-secondary-light">Jenny Wilson
                                        </h6>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center"><img
                                        src="{% static 'assets/images/thumbs/avatar-img4.png' %}" alt="Albert Flores"
                                        class="flex-shrink-0 me-12 radius-8">
                                    <div>
                                        <h6 class="text-md mb-0 fw-medium text-secondary-light">Albert Flores
                                        </h6><span class="text-secondary-light text-sm">Class: 4 (B)</span>
                                    </div>
                                </div>
                            </td>
                            <td>jenny@example.com</td>
                            <td>404.788.1120</td>
                            <td>15 Aug 2017</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="text-primary-light text-xl" data-bs-toggle="dropdown"
                                        aria-expanded="false"><iconify-icon
                                            icon="tabler:dots-vertical"></iconify-icon></button>
                                    <ul class="dropdown-menu dropdown-menu-lg-end border p-12">
                                        <li><a href="guardian-list.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-user-3-line"></i>View Guardian</a></li>
                                        <li><a href="edit-guardian.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-edit-2-line"></i>Edit</a></li>
                                        <li><a href="login.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-login-box-line"></i>Login</a></li>
                                        <li><button
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"
                                                data-bs-toggle="modal" data-bs-target="#exampleModalDelete"><i
                                                    class="ri-delete-bin-6-line"></i>Delete</button></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check style-check d-flex align-items-center"><input
                                        class="form-check-input" type="checkbox"><label
                                        class="form-check-label">05</label></div>
                            </td>
                            <td><span class="text-primary-600">AD77231</span></td>
                            <td>
                                <div class="d-flex align-items-center"><img
                                        src="{% static 'assets/images/thumbs/teacher-avatar-img5.png' %}"
                                        alt="Theresa Webb" class="flex-shrink-0 me-12 radius-8">
                                    <div>
                                        <h6 class="text-md mb-0 fw-medium text-secondary-light">Theresa Webb
                                        </h6>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center"><img
                                        src="{% static 'assets/images/thumbs/avatar-img5.png' %}" alt="Leslie Alexander"
                                        class="flex-shrink-0 me-12 radius-8">
                                    <div>
                                        <h6 class="text-md mb-0 fw-medium text-secondary-light">Leslie Alexander
                                        </h6><span class="text-secondary-light text-sm">Class: 5 (A)</span>
                                    </div>
                                </div>
                            </td>
                            <td>theresa.webb@example.com</td>
                            <td>213.987.7770</td>
                            <td>22 Sep 2018</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="text-primary-light text-xl" data-bs-toggle="dropdown"
                                        aria-expanded="false"><iconify-icon
                                            icon="tabler:dots-vertical"></iconify-icon></button>
                                    <ul class="dropdown-menu dropdown-menu-lg-end border p-12">
                                        <li><a href="guardian-list.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-user-3-line"></i>View Guardian</a></li>
                                        <li><a href="edit-guardian.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-edit-2-line"></i>Edit</a></li>
                                        <li><a href="login.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-login-box-line"></i>Login</a></li>
                                        <li><button
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"
                                                data-bs-toggle="modal" data-bs-target="#exampleModalDelete"><i
                                                    class="ri-delete-bin-6-line"></i>Delete</button></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check style-check d-flex align-items-center">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"> 06 </label>
                                </div>
                            </td>
                            <td><span class="text-primary-600">AD52366</span></td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'assets/images/thumbs/teacher-avatar-img2.png' %}"
                                        alt="John Smith Image" class="flex-shrink-0 me-12 radius-8">
                                    <div>
                                        <h6 class="text-md mb-0 fw-medium flex-grow-1 text-secondary-light">John
                                            Smith</h6>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'assets/images/thumbs/avatar-img2.png' %}" alt="Student Image"
                                        class="flex-shrink-0 me-12 radius-8">
                                    <div>
                                        <h6 class="text-md mb-0 fw-medium flex-grow-1 text-secondary-light">
                                            Kathryn Murphy</h6>
                                        <span class="text-secondary-light text-sm">Class: 2 (B)</span>
                                    </div>
                                </div>
                            </td>
                            <td>kathryn.murphy@example.com</td>
                            <td>208.555.1122</td>
                            <td>12 Jan 2013</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="text-primary-light text-xl" data-bs-toggle="dropdown"
                                        data-bs-display="static" aria-expanded="false">
                                        <iconify-icon icon="tabler:dots-vertical"></iconify-icon>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-lg-end border p-12">
                                        <li><a href="guardian-list.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-user-3-line"></i>View Guardian</a></li>
                                        <li><a href="edit-guardian.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-edit-2-line"></i>Edit</a></li>
                                        <li><a href="login.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-login-box-line"></i>Login</a></li>
                                        <li><button
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"
                                                data-bs-toggle="modal" data-bs-target="#exampleModalDelete"><i
                                                    class="ri-delete-bin-6-line"></i>Delete</button></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check style-check d-flex align-items-center">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"> 07 </label>
                                </div>
                            </td>
                            <td><span class="text-primary-600">AD52367</span></td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'assets/images/thumbs/teacher-avatar-img3.png' %}"
                                        alt="Teacher Image" class="flex-shrink-0 me-12 radius-8">
                                    <div>
                                        <h6 class="text-md mb-0 fw-medium flex-grow-1 text-secondary-light">
                                            Theresa Webb</h6>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'assets/images/thumbs/avatar-img3.png' %}" alt="Student Image"
                                        class="flex-shrink-0 me-12 radius-8">
                                    <div>
                                        <h6 class="text-md mb-0 fw-medium flex-grow-1 text-secondary-light">Guy
                                            Hawkins</h6>
                                        <span class="text-secondary-light text-sm">Class: 3 (C)</span>
                                    </div>
                                </div>
                            </td>
                            <td>guy.hawkins@example.com</td>
                            <td>203.555.2145</td>
                            <td>27 Mar 2014</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="text-primary-light text-xl" data-bs-toggle="dropdown"
                                        data-bs-display="static" aria-expanded="false">
                                        <iconify-icon icon="tabler:dots-vertical"></iconify-icon>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-lg-end border p-12">
                                        <li><a href="guardian-list.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-user-3-line"></i>View Guardian</a></li>
                                        <li><a href="edit-guardian.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-edit-2-line"></i>Edit</a></li>
                                        <li><a href="login.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-login-box-line"></i>Login</a></li>
                                        <li><button
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"
                                                data-bs-toggle="modal" data-bs-target="#exampleModalDelete"><i
                                                    class="ri-delete-bin-6-line"></i>Delete</button></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check style-check d-flex align-items-center">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"> 08 </label>
                                </div>
                            </td>
                            <td><span class="text-primary-600">AD52368</span></td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'assets/images/thumbs/teacher-avatar-img4.png' %}"
                                        alt="Teacher Image" class="flex-shrink-0 me-12 radius-8">
                                    <div>
                                        <h6 class="text-md mb-0 fw-medium flex-grow-1 text-secondary-light">
                                            Courtney Henry</h6>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'assets/images/thumbs/avatar-img4.png' %}" alt="Student Image"
                                        class="flex-shrink-0 me-12 radius-8">
                                    <div>
                                        <h6 class="text-md mb-0 fw-medium flex-grow-1 text-secondary-light">
                                            Eleanor Pena</h6>
                                        <span class="text-secondary-light text-sm">Class: 4 (A)</span>
                                    </div>
                                </div>
                            </td>
                            <td>eleanor.pena@example.com</td>
                            <td>210.555.1098</td>
                            <td>08 Sep 2014</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="text-primary-light text-xl" data-bs-toggle="dropdown"
                                        data-bs-display="static" aria-expanded="false">
                                        <iconify-icon icon="tabler:dots-vertical"></iconify-icon>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-lg-end border p-12">
                                        <li><a href="guardian-list.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-user-3-line"></i>View Guardian</a></li>
                                        <li><a href="edit-guardian.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-edit-2-line"></i>Edit</a></li>
                                        <li><a href="login.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-login-box-line"></i>Login</a></li>
                                        <li><button
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"
                                                data-bs-toggle="modal" data-bs-target="#exampleModalDelete"><i
                                                    class="ri-delete-bin-6-line"></i>Delete</button></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check style-check d-flex align-items-center">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"> 09 </label>
                                </div>
                            </td>
                            <td><span class="text-primary-600">AD52369</span></td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'assets/images/thumbs/teacher-avatar-img5.png' %}"
                                        alt="Teacher Image" class="flex-shrink-0 me-12 radius-8">
                                    <div>
                                        <h6 class="text-md mb-0 fw-medium flex-grow-1 text-secondary-light">
                                            Albert Flores</h6>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'assets/images/thumbs/avatar-img5.png' %}" alt="Student Image"
                                        class="flex-shrink-0 me-12 radius-8">
                                    <div>
                                        <h6 class="text-md mb-0 fw-medium flex-grow-1 text-secondary-light">
                                            Jenny Wilson</h6>
                                        <span class="text-secondary-light text-sm">Class: 5 (B)</span>
                                    </div>
                                </div>
                            </td>
                            <td>jenny.wilson@example.com</td>
                            <td>212.555.3223</td>
                            <td>11 Nov 2015</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="text-primary-light text-xl" data-bs-toggle="dropdown"
                                        data-bs-display="static" aria-expanded="false">
                                        <iconify-icon icon="tabler:dots-vertical"></iconify-icon>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-lg-end border p-12">
                                        <li><a href="guardian-list.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-user-3-line"></i>View Guardian</a></li>
                                        <li><a href="edit-guardian.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-edit-2-line"></i>Edit</a></li>
                                        <li><a href="login.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-login-box-line"></i>Login</a></li>
                                        <li><button
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"
                                                data-bs-toggle="modal" data-bs-target="#exampleModalDelete"><i
                                                    class="ri-delete-bin-6-line"></i>Delete</button></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check style-check d-flex align-items-center">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"> 10 </label>
                                </div>
                            </td>
                            <td><span class="text-primary-600">AD52370</span></td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'assets/images/thumbs/teacher-avatar-img6.png' %}"
                                        alt="Teacher Image" class="flex-shrink-0 me-12 radius-8">
                                    <div>
                                        <h6 class="text-md mb-0 fw-medium flex-grow-1 text-secondary-light">
                                            Jerome Bell</h6>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'assets/images/thumbs/avatar-img6.png' %}" alt="Student Image"
                                        class="flex-shrink-0 me-12 radius-8">
                                    <div>
                                        <h6 class="text-md mb-0 fw-medium flex-grow-1 text-secondary-light">
                                            Esther Howard</h6>
                                        <span class="text-secondary-light text-sm">Class: 6 (A)</span>
                                    </div>
                                </div>
                            </td>
                            <td>esther.howard@example.com</td>
                            <td>210.555.7766</td>
                            <td>22 Feb 2016</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="text-primary-light text-xl" data-bs-toggle="dropdown"
                                        data-bs-display="static" aria-expanded="false">
                                        <iconify-icon icon="tabler:dots-vertical"></iconify-icon>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-lg-end border p-12">
                                        <li><a href="guardian-list.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-user-3-line"></i>View Guardian</a></li>
                                        <li><a href="edit-guardian.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-edit-2-line"></i>Edit</a></li>
                                        <li><a href="login.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-login-box-line"></i>Login</a></li>
                                        <li><button
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"
                                                data-bs-toggle="modal" data-bs-target="#exampleModalDelete"><i
                                                    class="ri-delete-bin-6-line"></i>Delete</button></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check style-check d-flex align-items-center">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"> 11 </label>
                                </div>
                            </td>
                            <td><span class="text-primary-600">AD52371</span></td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'assets/images/thumbs/teacher-avatar-img7.png' %}"
                                        alt="Teacher Image" class="flex-shrink-0 me-12 radius-8">
                                    <div>
                                        <h6 class="text-md mb-0 fw-medium flex-grow-1 text-secondary-light">
                                            Devon Lane</h6>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'assets/images/thumbs/avatar-img7.png' %}" alt="Student Image"
                                        class="flex-shrink-0 me-12 radius-8">
                                    <div>
                                        <h6 class="text-md mb-0 fw-medium flex-grow-1 text-secondary-light">
                                            Robert Fox</h6>
                                        <span class="text-secondary-light text-sm">Class: 7 (C)</span>
                                    </div>
                                </div>
                            </td>
                            <td>robert.fox@example.com</td>
                            <td>202.555.8974</td>
                            <td>10 Jul 2017</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="text-primary-light text-xl" data-bs-toggle="dropdown"
                                        data-bs-display="static" aria-expanded="false">
                                        <iconify-icon icon="tabler:dots-vertical"></iconify-icon>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-lg-end border p-12">
                                        <li><a href="guardian-list.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-user-3-line"></i>View Guardian</a></li>
                                        <li><a href="edit-guardian.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-edit-2-line"></i>Edit</a></li>
                                        <li><a href="login.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-login-box-line"></i>Login</a></li>
                                        <li><button
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"
                                                data-bs-toggle="modal" data-bs-target="#exampleModalDelete"><i
                                                    class="ri-delete-bin-6-line"></i>Delete</button></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check style-check d-flex align-items-center">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label"> 12 </label>
                                </div>
                            </td>
                            <td><span class="text-primary-600">AD52372</span></td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'assets/images/thumbs/teacher-avatar-img8.png' %}"
                                        alt="Teacher Image" class="flex-shrink-0 me-12 radius-8">
                                    <div>
                                        <h6 class="text-md mb-0 fw-medium flex-grow-1 text-secondary-light">
                                            Floyd Miles</h6>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'assets/images/thumbs/avatar-img8.png' %}" alt="Student Image"
                                        class="flex-shrink-0 me-12 radius-8">
                                    <div>
                                        <h6 class="text-md mb-0 fw-medium flex-grow-1 text-secondary-light">
                                            Leslie Alexander</h6>
                                        <span class="text-secondary-light text-sm">Class: 8 (A)</span>
                                    </div>
                                </div>
                            </td>
                            <td>leslie.alexander@example.com</td>
                            <td>205.555.6742</td>
                            <td>21 Oct 2018</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="text-primary-light text-xl" data-bs-toggle="dropdown"
                                        data-bs-display="static" aria-expanded="false">
                                        <iconify-icon icon="tabler:dots-vertical"></iconify-icon>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-lg-end border p-12">
                                        <li><a href="guardian-list.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-user-3-line"></i>View Guardian</a></li>
                                        <li><a href="edit-guardian.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-edit-2-line"></i>Edit</a></li>
                                        <li><a href="login.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"><i
                                                    class="ri-login-box-line"></i>Login</a></li>
                                        <li><button
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"
                                                data-bs-toggle="modal" data-bs-target="#exampleModalDelete"><i
                                                    class="ri-delete-bin-6-line"></i>Delete</button></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    let table = new DataTable('#dataTable');

    // âœ… Data Table start
    $('.data-table').each(function () {
        const $table = $(this);
        const tableInstance = new DataTable(this);

        // Handle search input (inside same wrapper)
        $table.closest('.dataTable-wrapper').find('.dt-search .dt-input').on('keyup', function () {
            tableInstance.search(this.value).draw();
        });

        // Handle page length change (inside same wrapper)
        $table.closest('.dataTable-wrapper').find('.dt-length .dt-input').on('change', function () {
            const value = $(this).val();
            tableInstance.page.len(value).draw();
        });
    });
    // âœ… Data Table end
</script>
{% endblock %}