{% extends "edudash/base.html" %}
{% load static %}

{% block content %}
{% include "edudash/layouts/breadcrumbs.html" with title="Teacher List" parent_text="Teacher" parent_link="javascript:void(0)" active_page="Teacher List" button_text="Add Teacher" button_link="/en/accounts/lecturer/add/" %}

<div class="mt-24">
    <div class="card h-100">
        <div class="card-body p-0 dataTable-wrapper">

            <div
                class="d-flex align-items-center justify-content-between flex-wrap gap-16 px-20 py-12 border-bottom border-neutral-200">
                <div class="d-flex flex-wrap align-items-center gap-16">
                    <div class="dropdown">
                        <button type="button"
                            class="px-12 py-5-px border border-neutral-300 radius-8 d-flex align-items-center gap-20 "
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="d-flex align-items-center gap-1 text-secondary-light text-sm">
                                <i class="ri-file-upload-line text-md line-height-1"></i>
                                Export
                            </span>
                            <span class="">
                                <i class="ri-arrow-down-s-line"></i>
                            </span>
                        </button>
                        <ul class="dropdown-menu p-12 border bg-base shadow">
                            <li>
                                <button type="button"
                                    class="dropdown-item px-16 py-8 rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-10"
                                    data-bs-toggle="modal" data-bs-target="#exampleModalView">
                                    <i class="ri-file-3-line"></i>
                                    PDF
                                </button>
                            </li>
                            <li>
                                <button type="button"
                                    class="dropdown-item px-16 py-8 rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-10"
                                    data-bs-toggle="modal" data-bs-target="#exampleModalEdit">
                                    <i class="ri-file-excel-line"></i>
                                    Excel
                                </button>
                            </li>
                        </ul>
                    </div>
                    <form class="navbar-search dt-search m-0">
                        <input type="text" class="dt-input bg-transparent radius-4" aria-controls="dataTable"
                            name="search" placeholder="Search...">
                        <iconify-icon icon="ion:search-outline" class="icon"></iconify-icon>
                    </form>
                    <div class="dropdown">
                        <button type="button"
                            class="px-12 py-5-px border border-neutral-300 radius-8 d-flex align-items-center gap-20"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="d-flex align-items-center gap-1 text-secondary-light text-sm">
                                Filter
                            </span>
                            <span class="">
                                <i class="ri-arrow-down-s-line"></i>
                            </span>
                        </button>
                        <div class="dropdown-menu border bg-base shadow dropdown-menu-lg p-0">
                            <div class="d-flex align-items-center justify-content-between border-bottom py-8 px-16">
                                <span class="fw-semibold text-lg text-primary-light">Filter</span>
                                <button type="button">
                                    <i class="ri-close-large-line"></i>
                                </button>
                            </div>

                            <form action="#" class="p-16">
                                <div class="row g-3">
                                    <div class="col-12">
                                        <label for="subject"
                                            class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Gender</label>
                                        <select id="subject" class="form-control form-select">
                                            <option value="Select">Select Subject</option>
                                            <option value="Match">Match</option>
                                            <option value="English">English</option>
                                            <option value="Bangla">Bangla</option>
                                            <option value="Economics">Economics</option>
                                            <option value="Physics">Physics</option>
                                        </select>
                                    </div>
                                    <div class="col-12">
                                        <label for="status"
                                            class="text-sm fw-semibold text-primary-light d-inline-block mb-8">Status</label>
                                        <select id="status" class="form-control form-select">
                                            <option value="Select">Select Status</option>
                                            <option value="Active">Active</option>
                                            <option value="Inactive">Inactive</option>
                                        </select>
                                    </div>
                                    <div class="col-6">
                                        <button type="reset"
                                            class="btn btn-danger-200 text-danger-600 w-100">Reset</button>
                                    </div>
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-primary-600 w-100">Apply</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="d-flex align-items-center gap-8 text-secondary-light">
                    <span class="">
                        Rows per page:
                    </span>
                    <div class="dt-length">
                        <select name="dataTable_length" aria-controls="dataTable"
                            class="dt-input form-control form-select">
                            <option value="5">5</option>
                            <option value="10" selected>10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="p-0">
                <table class="table bordered-table mb-0 data-table" id="dataTable" data-page-length='10'>
                    <thead>
                        <tr>
                            <th scope="col">
                                <div class="form-check style-check d-flex align-items-center">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label">
                                        S.L
                                    </label>
                                </div>
                            </th>
                            <th scope="col">ID No.</th>
                            <th scope="col">Full Name</th>
                            <th scope="col">Email Address</th>
                            <th scope="col">Mob. Number</th>
                            <th scope="col">Address/City</th>
                            <th scope="col">Last Login</th>
                            <th scope="col">Join Date</th>
                            {% if request.user.is_superuser %}
                            <th scope="col">Action</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for lecturer in filter.qs %} 
                        <tr>
                            <td>
                                <div class="form-check style-check d-flex align-items-center">
                                    <input class="form-check-input" type="checkbox">
                                    <label class="form-check-label">
                                        {{ forloop.counter }}.
                                    </label>
                                </div>
                            </td>
                            <td><span class="text-primary-600">{{ lecturer.username }}</span></td>
                            <td>
                                <div class="d-flex align-items-center">
                                    <img src="{% static 'assets/images/thumbs/teacher-avatar-img1.png' %}"
                                        alt="Marvin McKinney Image" class="flex-shrink-0 me-12 radius-8">
                                    <div class="">
                                        <h6 class="text-md mb-0 fw-medium flex-grow-1"><a href="{% url 'profile_single' lecturer.id %}">{{ lecturer.get_full_name }}</a></h6>
                                    </div>
                                </div>
                            </td>
                            <td>{{ lecturer.email }}</td>
                            <td>{{ lecturer.phone }}</td>
                            <td>{{ lecturer.address }}</td>
                            <td>{{ lecturer.last_login }}</td>
                            <td>{{ lecturer.date_joined }}</td>
                            {% if request.user.is_superuser %}
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="text-primary-light text-xl" data-bs-toggle="dropdown"
                                        data-bs-display="static" aria-expanded="false">
                                        <iconify-icon icon="tabler:dots-vertical"></iconify-icon>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-lg-end border p-12">
                                        <li>
                                            <a href="student-list.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6">
                                                <i class="ri-user-3-line"></i>
                                                View Student
                                            </a>
                                        </li>
                                        <li>
                                            <a href="edit-teacher.html"
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6">
                                                <i class="ri-edit-2-line"></i>
                                                Edit
                                            </a>
                                        </li>
                                        <li>
                                            <button
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"
                                                type="button">
                                                <i class="ri-error-warning-line"></i>
                                                Inactive
                                            </button>
                                        </li>
                                        <li>
                                            <button
                                                class="dropdown-item rounded text-secondary-light bg-hover-neutral-200 text-hover-neutral-900 d-flex align-items-center gap-2 py-6"
                                                data-bs-toggle="modal" data-bs-target="#exampleModalDelete"><i
                                                    class="ri-delete-bin-6-line"></i>Delete</button>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                            {% endif %}
                        </tr>
                        

                        {% endfor %}
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    let table = new DataTable('#dataTable');

    // âœ… Data Table start
    $('.data-table').each(function () {
        const $table = $(this);
        const tableInstance = new DataTable(this);

        // Handle search input (inside same wrapper)
        $table.closest('.dataTable-wrapper').find('.dt-search .dt-input').on('keyup', function () {
            tableInstance.search(this.value).draw();
        });

        // Handle page length change (inside same wrapper)
        $table.closest('.dataTable-wrapper').find('.dt-length .dt-input').on('change', function () {
            const value = $(this).val();
            tableInstance.page.len(value).draw();
        });
    });
    // âœ… Data Table end
</script>
{% endblock %}