[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=sammy
Group=www-data
WorkingDirectory=/home/django/blackboard/
ExecStart=/home/django/blackboard/env/bin/gunicorn \
          --access-logfile - \
          -k uvicorn.workers.UvicornWorker \
          --workers 3 \
          --bind blackboard.citpm.org \
          core.asgi:application

[Install]
WantedBy=multi-user.target